@font-face {
  font-family: "SomeTimeLater";
  src: local("SomeTimeLater"),
    url("../fonts/SomeTimeLater.otf") format("opentype");
}

:root {
  --darkblue: #2b3a55;
  --darkpink: #CE7777;
  --mediumpink: #E8C4C4;
  --lightgrey: #ededed;
  --softpink: #F2E5E5;
  --bluegrey: #6D8493;
  --darkred: #C61E1E;
  --merah: #fe1b1b;
}

.wave-cart-header {
  width: 100%;
  z-index: -1;
}

.checkout-container {
  margin-bottom: 10em;
}

.checkout-title {
  color: var(--darkblue);
  font-size: 3em;
  width:100%;
  padding-left: 3em;
  margin-top: 1em;
}
.checkout-content-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 10%;
  gap: 5%;
  align-content: flex-start;
  position: relative;
  margin-top: 8%;
}
.checkout-address-container {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  gap: 1.2em;
  padding: 2em;
  flex-wrap: nowrap;
}

.checkout-address-add-button {
  background-color: var(--darkblue);
  width: 100%;
  padding: 0.7em;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 2em;
  cursor: pointer;
  font-size: 1em;
}

.checkout-address-add-button:hover {
  scale: 1.03;
}

.checkout-address-wrapper {
  position: relative;
  width: 48%;
  display: flex;
  flex-direction: column;
  min-height: 23em;
  margin-top: -110px;
  z-index: 0;
  flex-wrap: nowrap;
}

.checkout-payment-wrapper {
  position: relative;
  width: 30%;
  display: flex;
  flex-direction: column;
  min-height: 23em;
  margin-top: -110px;
  z-index: 0;
  flex-wrap: nowrap;
}

.checkout-list-wrapper {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  gap: 1.2em;
  padding: 2em;
  flex-wrap: nowrap;
}

.checkout-list-wrapper h2{
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.pay-method-container,
.order-summary-container {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  gap: 1.2em;
  padding: 2em;
  flex-wrap: nowrap;
}

.pay-method-container h2 {
  margin-bottom: 0;
}

.checkout-address-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.input-address-header {
  margin-bottom: 0.5em;
}

.input-address-button {
  background-color: var(--biru);
  padding: 0.6em 1em 0.6em 1em;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
}

.input-address-button:hover {
  scale: 1.02;
}

.item-row-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: solid lightgray 1px;
  padding-bottom: 1em;
  width: 100%;
  flex-wrap: nowrap;
  margin-bottom: 5px;
}

.item-image {
  width: 6.25em;
  height: 6.25em;
  margin-right: 20px;
}

.item-information-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5em;
  width: 35%;
}

.item-information-wrapper p:first-child {
  font-weight: bold;
}

.cart-quantity-button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  gap: 0.1em;
  height: max-content;
  align-self: flex-end;
  border-radius: 5px;
  border: solid gray 0.5px;
  position: relative;
  margin: auto 30px auto;
}
.cart-quantity-button {
  font-size: 1.5em;
  border: none;
  padding: 1px 0.8em;
  cursor: pointer;
}
.checkout-item-quantity-price-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-end;
  width: 200px;
  margin: auto 0 auto 5.5em;
  position: relative;
  left: 52px;
  padding-top: 20px;
}

.checkout-item-quantity-price {
  font-size: 1.2em;
  align-self: flex-end;
  margin-left: 1em;
  text-align: right;
  padding-top: 20px;
}

.payment-method-wrapper {
  width: 100%;
}

.payment-select {
  width: 100%;
  background: var(--abu);
  border: none;
  padding: 0.8em 1em 0.8em 1em;
  border-radius: 10px;
}

.order-list-item {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.9em;
}

.order-list-item-discount {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.9em;
  color: red;
}

.total-pay-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -15px;
}

.total-pay-wrapper p {
  font-size: 1.5em;
}

.total-pay-price {
  color: var(--darkblue);
  font-weight: bold;
}

.btn-shipping {
  width: 100%;
  background-color: var(--mediumpink);
  color: var(--darkblue);
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1em;
}

.btn-shipping-choose select {
  margin-top: 10px;
  width: max-content;
  background-color: none;
  border-radius: 5px;
  color: var(--darkblue);
  padding: 8px;
}

.shipping-information-detail {
  margin-top: 10px;
  font-size: 0.9em;
}

.order-pay-button {
  border: none;
  padding: 0.5em 0 0.5em 0;
  background: var(--darkpink);
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}

.order-pay-button:hover {
  scale: 1.03;
}

.checkout-product-quantity {
  width: 100px;
}
