@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

:root {
  --darkblue: #2b3a55;
  --darkpink: #CE7777;
  --mediumpink: #E8C4C4;
  --lightgrey: #ededed;
  --softpink: #F2E5E5;
  --bluegrey: #6D8493;
  --darkred: #C61E1E;
  --merah: #fe1b1b;
}

/* Filter sidebar container */
.filter-sidebar {
  background: var(--mediumpink);
  border-radius: 30px;
  width: 100%;
  padding: 1.6em;
}

/* Filter title */
.filter-title {
  font-weight: bold;
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 1em;
  color: var(--darkblue);
}

.filter-section {
  margin-bottom: 1em;
}

.filter-section h3 {
  font-weight: bold;
  font-size: 1.2em;
  color: var(--darkblue);
  margin-bottom: 0.3em;
}

.filter-section-line {
  border: 1px solid #ffffff;
  margin-bottom: 0.5em;
}

/* Filter checkbox list */
.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Filter checkbox item */
.filter-item {
  margin-bottom: 0.6em;
}

.filter-item label {
  display: flex;
  align-items: center;
}

.filter-item input {
  cursor: pointer;
}

/* Filter checkbox label */
.filter-label {
  display: inline-block;
  margin-left: 0.7em;
  font-size: 15px;
  color: black;
}

/* Filter button */
.filter-button {
  display: block;
  margin-top: 10px;
  background-color: var(--darkpink);
  width: 100%;
  color: var(--lightgrey);
  font-weight: 700;
  font-size: 15px;
  border-radius: 20px;
  border: none;
  padding: 0.4em 1em;
  cursor: pointer;
}

/* Filter button:hover */
.filter-button:hover {
  background-color: var(--lightgrey);
  color: var(--darkpink);
  transform: scale(1.05);
}
