* {
  background-color: transparent;
  z-index: 1000;
}
.wave-footer {
  width: 104%;
  margin-left: -4%;
  z-index: 0;
  padding: 0;
  margin-bottom: 0;
}

.logo-circle {
  width: 180px;
  margin-top: -210px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-bottom: 0;
  display: block;
  border-radius: 50%;
}

.logo-shortened {
  margin-top: -135px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

footer h4 {
  color: #149d4f;
  font-size: 30px;
  font-family: "Some Time Later";
}

footer p {
  color: #149d4f;
  font-size: 13px;
  line-height: 26px;
  font-family: "Lato";
}

footer ul li {
  color: #149d4f;
  font-size: 13px;
  line-height: 26px;
}

footer ul li i {
  color: #ff8a00;
  font-size: 13px;
  margin-right: 10px;
}

footer ul li a {
  color: #149d4f;
  font-size: 13px;
  line-height: 26px;
}

footer ul li a:hover {
  color: #ff8a00;
  text-decoration: none;
}

footer .container {
  margin: 0 auto;
  background-color: #fad405;
  padding: 0;
  height: 150px;
  margin-top: 70px;
}

footer .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

footer .col-md-4 {
  margin-top: 20px;
  margin-left: -40px;
  max-width: 20%;
  min-width: min-content;
}

@media (max-width: 767px) {
  footer .col-md-4 {
    width: 100%;
    margin-bottom: 30px;
  }
}
