:root {
  --darkblue: #2b3a55;
  --darkpink: #CE7777;
  --mediumpink: #E8C4C4;
  --lightgrey: #ededed;
  --softpink: #F2E5E5;
  --bluegrey: #6D8493;
  --darkred: #C61E1E;
}

.reviews-ratings-wrapper {
  width: 100%;
  margin: auto;
  margin-top: 4em;
  padding: 3em 5em;
  border: solid 1px black;
  border-radius: 30px;
  position: relative;
}

.reviews-title {
  font-size: 2.5em;
  font-weight: 600;
  color: var(--darkpink);
  position: absolute;
  top: -27px;
  left: 30px;
  background-color: white;
  padding: 0 0.2em;
}

.ratings-add-reviews-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.ratings-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.big-rating {
  color: white;
  display: flex;
  background-color: var(--darkpink);
  padding: 1em 4.5em;
  border-radius: 15px;
  gap: 0.2em;
  flex-direction: column;
  align-items: center;
}

.big-rating .rating {
  font-size: 3em;
  font-weight: bold;
}

.rating-amount {
  font-size: 1em;
}

.small-rating {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.small-rating-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
}

.add-review-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8em;
  justify-content: center;
  padding-right: 2em;
}

.add-review-ask {
  font-size: 1.6em;
  font-weight: 500;
}

.add-review-bonus {
  color: gray;
}

.add-review-button {
  color: var(--darkpink);
  font-weight: bold;
  font-size: 1.4em;
  padding: 0.5em 1.5em;
  border: solid var(--darkpink) 2px;
  border-radius: 10px;
  margin-top: 0.2em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.add-review-button:hover {
  scale: 1.04;
}

.reviews-wrapper {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1.8em;
}

.review-name {
  font-weight: bold;
  font-size: 1.3em;
}

.review-rating-date {
  display: flex;
  margin-top: 0.4em;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  color: gray;
}
