.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
  /* margin: 1rem;
  padding-top: 2%; */
  padding-bottom: 0;
}

.search-input {
  padding: 0.5rem;
  padding-left: 1rem;
  font-size: 1rem;
  width: 100%;
  border: 1px solid black;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-right: 0.5rem;
  flex: 1;
}

.search-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  background-color: #4b55c0;
  color: #fff;
  cursor: pointer;
}
